{% extends "layout.html"  %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>

  
</head>
<body>
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container center">
            <h1 class="title">
                awesomebooks
            </h1>
            <h2 class="subtitle">
                비전공자 베스트셀러
            </h2>
        </div>
    </div>
</section>
<div class="book-list" id="book-box">

</div>
</body>
</html>
{% endblock %}
